.carousel {
    padding: 81px 0 ;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        list-style-type: none;
        width: 86px;
        padding-left: 0;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slick-active {
            border-radius: 100%;
            box-shadow: 3px 3px 20px $main-color;
            height: 5px;
            transition: 0.7s all;
            background-color: $main-color;
        }
        li {
            border-radius: 100%;
            border: 2px solid $main-color;
            background-color: #fff;
            width: 15px;
            height: 15px;
            padding: 2px;  
            &:hover {
                border-radius: 100%;
                box-shadow: 3px 3px 20px $main-color;
                transition: 0.7s all;
                background-color: $main-color;
            }
            button {
                display: none;
            }     
        }           
    } 
}
