@media (max-width: 992px) {
	.promo{
		padding-right: 15px;
		padding-left: 15px;
	}
	.consultation {
		display: flex;
		justify-content: center;
		align-items: center;
		.title_left {
			text-align: center;
		}
		&__descr {
			margin-top: 50px; // не работает
			text-align: center;
		}
		.feed-form {
			margin: 36px auto;
		}
	}

	.carousel_wd70 {
		width: 70%;
	}

	.footer{
		position: relative;
		.footer__info { 
			position: absolute;
			left: calc(100% - 191px);
			padding: 15px 10px 10px 10px;
			width: 382px;
			height: 198px;
		}
		iframe {
			height: 450px;
		}
	} 
	.footer .footer__addr {
		margin-bottom: 20px;
	}
	
}
@media (max-width: 767px) {
	.promo{
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 37px;
		}
	}
	.consultation {
		&__descr {
			text-align: center;
			margin-top: 36px;
		}
		.title_left {
			font-size: 30px;		
		}
		.feed-form {
			margin: 0 auto;
			margin-top: 50px;
		}
	}
	.catalog .catalog-item {
		margin: 0 0 10px 0;
		&:nth-child(2n) {
			margin-left: 5px;
		}
		&:nth-child(2n+1) {
			margin-right: 5px;
		}
	}
	.review .review__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer {
		position: relative;
	}
	.footer .footer__info {
		position: absolute;
		left: calc(100% - 153px); 
		padding: 15px 10px;
		width: 306px;
		height: 148px;
	}

	.footer .footer__addr {
		font-size: 17px;
	}

	.footer .footer__phone {
		margin-bottom: 17px;
		font-weight: 500;
	}

	.footer .footer__social-item {
		width: 45px;
		height: 45px;
	}
	iframe {
		height: 350px;
	}

}

@media (max-width: 575px) {
	.header {
		&__logo {
			width: 150px;
			img {
				width: 100%;
			}
		}
		&__official {
			font-size: 10px;
			span {
				font-size: 16px;
			}
		}
		&__phone {
			display: block;
			color: #ffffff;
			font-size: 16px;
			font-weight: 700;
			&:hover {
				color: #ffffff;
				text-decoration: none;
			}
		}
		.button {
			font-size: 10px;
		}
	}
	.promo {
		&__wrapper {
			margin-top: 65px;
		}
		&__header {
			font-size: 32px;
		}
		&__subheader {
			font-size: 18px;
		}
	}
	
	.advantages .title {
		font-size: 25px;
	}
	.advantages .advantages__icons{
		margin-top: 35px;
		padding: 0 10px;
	}
	.advantages .advantages__text {
		font-size: 13px;
	}
	.advantages .advantages__text .title {
		font-size: 17px;
		margin-top: 16px;
		margin-bottom: 17px;
	}
	 
	.advantages .advantages__link {
		color: #ff0000;
		text-transform: uppercase;
		text-decoration: underline;
	}
	.consultation {
		padding: 35px 0 92px 0;
	}
	.consultation .title {
		font-size: 25px;
	}
	.consultation .consultation__descr {
		margin-top: 35px;
	}

	.catalog .catalog__tab {
		width: 148px;
		font-size: 16px;
	}
	.catalog .catalog-item {
		margin: 0 0 10px 0;
		&:nth-child(2n) {
			margin-left: 0;
		}
		&:nth-child(2n+1) {
			margin-right: 0;
		}
	}
}

@media (max-width: 319px) {
	.promo {
		padding: 21 10 50 10;
		.header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&__logo {
				width: 120px;
			}
			&__official {
				font-size: 8px;
				span {
					font-size: 12px;
				}
			}
			&__phone {
				font-size: 13px;
			}
			&__contacts {
				margin: 0 auto;
				margin-top: 20px;
				display: flex;
				justify-content: center;
				align-items: center;	
			}
		}
		&__wrapper {
			margin-top: 20px;
		}
		&__header {
			font-size: 18px;
		}
		&__subheader {
			font-size: 12px;
		}
		&__icons {
			margin-top: 15px;
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		&__icon {
			margin-top: 20px;
			img {
				margin-bottom: 10px;
			}
		}
		&__link {
			font-size: 13px;
			margin-top: 9px;
		}
	}
	.advantages {
		padding: 38px 0 35px;
		&__title{
			font-size: 22px;
		}
		&__icons {
			margin-top: 11px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin-top: 13px;
		}
		&__text {
			.title {
				margin-top: 2px;
				margin-bottom: 5px;
			}
		}
	}
	.button {
		&_main {
			margin-top: 49px;
			width: 200px;
			height: 50px;
		}
	}
	.consultation {
		padding: 50px 0 41px 0;
		.title {
			font-size: 13px;
			text-align: center;
		}
		&__descr {
			font-size: 13px;
			text-align: center;
			margin-top: 40px;
		}
	}
}