.promo {
	min-height: 650px;
	padding: 21px 0 93px 0;
	background: url('../img/s1/s1_bg.jpg') center (center/cover) no-repeat;
	&__wrapper {
		margin-top: 91px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__header {
		font-weight: 700;
		font-size: 42px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 0;
	}
	&__subheader {
		margin-top: 17px;
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__icons {
		width: 425px;
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		display: flex;
		flex-direction: column;
		&-img {
			display: block;
			margin: 0 auto;
		}
		&-text {
			margin-top: 20px;
			font-weight: 500;
			font-size: 14px;
			color: #FFFFFF;
			text-align: center;
		}
	}
	&__link {
		margin-top: 18px;
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
		a {
			font-size: 16px;
			color: #FFFFFF;
			text-transform: uppercase;
		}
	}
}